@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif; 
*/

:root {
  --header-height: 3.5rem;

  /* colors */
  --first-color: rgb(213, 110, 63);
  --first-color-alt: rgb(190, 95, 50);
  --title-color: rgb(44, 36, 32);
  --text-color: rgb(104, 84, 75);
  --text-color-light: rgb(149, 137, 131);
  --body-color: rgb(255, 241, 235);
  --container-color: rgb(255, 245, 240);

  /* font and typography */
  /* 1rem = 16px, 0.5rem = 8px */
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font); /* //ctrl+ 변수클릭하면 해당위치로 이동 */
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

/* container */
.container {
  max-width: 1024px;
  margin: 0 1.5rem;
  margin-inline: auto; /* margin-inline = [margin-inline-start + margin-inline-end] */
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding: 5rem 0 1rem;
}
.section_title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
  text-align: center;
}
.section_subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
  text-align: center;
}
.main {
  overflow: hidden;
}

/* theme */
body.dark-theme {
  --body-color: rgb(23, 20, 18);
  --first-color: rgb(216, 123, 79);
  --first-color-alt: rgb(213, 110, 63);
  --title-color: rgb(226, 213, 208);
  --text-color: rgb(180, 161, 151);
  --container-color: rgb(28, 25, 23);
}
.dark-theme .bg-header,
.dark-theme .nav_menu {
  /* box-shadow: x값   y값   blur[생략가능]   spread[생략가능]   그림자color[생략가능:기본값=#000]; */
  box-shadow: 0 2px 8px rgb(17, 8, 4, 0.5); /* <-spread생략상태 */
}

/* scrollbar */
.dark-theme::-webkit-scrollbar {
  background-color: rgb(17, 8, 4, 0.5);
}
.dark-theme::-webkit-scrollbar-thumb {
  background-color: rgb(69, 62, 59);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: rgb(97, 87, 82);
}

/* a태그 */
a.active-link {
  color: var(--first-color);
}

/* -------------------------------------header----------------------- */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}
.header.bg-header {
  box-shadow: 0px 2px 8px rgba(100, 47, 22, 0.1);
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}
.header .nav .nav_logo {
  display: flex;
  color: var(--title-color);
  align-items: center;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}
.header .nav .nav_logo:hover {
  color: var(--first-color);
}
.header .nav .nav_logo img {
  width: 25px;
}
/* nav */
.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.nav_img-1,
.nav_img-2 {
  position: absolute;
  opacity: 0.2;
  right: -100%;
  top: 0.75rem;
}

.nav .nav_menu {
}
.nav .nav_menu .nav_list {
  display: flex;
  text-align: center;
  gap: 2rem;
}
.nav .nav_menu .nav_list .nav_item {
}
.nav .nav_menu .nav_list .nav_item .nav_link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav .nav_menu .nav_list .nav_item .nav_link:hover {
  color: var(--first-color);
}

/* 반응형에서 메뉴보이기 */
.nav_buttons {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
}
.nav_buttons .nav_toggle {
}

/* ------------------------------------home------------------------------- */
.home {
  position: relative;
}
.home_container {
  padding-top: 2rem;
  gap: 3rem;
}
.home_img {
  width: 300px;
}
.home_data {
}
.home_data .home_title {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  margin-bottom: 1rem;
}
.home_data .home_title > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.home_data .home_title > div img {
  width: 40px;
}
.home_branch-1,
.home_branch-2 {
  position: absolute;
  opacity: 0.2;
}

.home_branch-1 {
  width: 80px;
  top: 8rem;
  left: -1rem;
  transform: rotate(90deg);
}
.home_branch-2 {
  width: 100px;
  right: -2rem;
  bottom: 1rem;
  transform: rotate(-15deg);
}

.home_description {
  margin-bottom: 2.5rem;
  padding: 0 1rem;
}

/* button */
.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: #fff;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  font-size: 1.5rem;
  transition: 0.3s;
}
.button:hover i {
  transform: translateX(0.25rem);
}



/* about */
.about {
    position: relative;
}
.about_container {
    gap: 3rem;
}

.about_data {
    text-align: center;
}
.about_data .section_subtitle {}
.about_title {}
.about_title div {}
.about_title div img {
    width: 30px;
}

.about_data .about_description {}

.about img {
    width: 300px;
    justify-self: center;
}
.about .about-leaf {
    position: absolute;
    right: -1.5rem;
    bottom: 11rem;
    width: 100px;
    opacity: 0.2;
    transform: rotate(-15deg);
}













/* 미디어쿼리_반응형 */
@media (max-width: 767px) {
    /* 화면의 넓이가 767미만일때 */
    .nav_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding-block: 3.5rem;
      z-index: 100;
      box-shadow: 0 8px 20px rgba(100, 47, 22, 0.1);
      transition: 0.5s;
    }
    .nav_menu.show-menu {
      top: 0;
    }
    .nav .nav_menu .nav_list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
}


@media (max-width: 340px) {
}


@media (min-width: 576px) {
  /* 화면의 넓이가 576이상일때 */
  .home_container,
  .about_container {
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
  .home_img {
    justify-self: center;
  }
}
@media (min-width: 767px) {
  /* 화면의 넓이가 767이상일때 */
  /* header */
  .nav_close,
  .nav_buttons .nav_toggle,
  .nav_img-1,
  .nav_img-2 {
    display: none;
  }
  .nav_buttons {
    position: static;
  }
  .nav .nav_menu {
    margin-left: auto;
  }
  .nav .nav_menu .nav_list {
    gap: 3rem;
  }
  .header .nav {
    gap: 2rem;
  }
  /* home */
  .home_container {
    position: relative;
  }
  .home_img {
    top: 0;
    right: 0;
  }
}
@media (min-width: 1024px) {
  /* 화면넓이 1024px이상~ */
  .header .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  section {
    padding: 7rem 0 1.5rem;
  }
  /* home */
  .home_container {
    position: relative;
    grid-template-columns: 480px 500px;
    padding-block: 7rem 3rem;
  }
  .home_img {
    width: 600px;
    top: 5rem;
    right: -2rem;
  }
  .home_data {
    order: -1;
  }
  .home_data .home_title > div {
    justify-content: initial;
  }
  .home_data .home_title > div img {
    width: 60px;
  }
  .home_data .home_title > div {
    gap: 1rem;
  }
  /* about */
  .about_container {
    grid-template-columns: 450px 360px;
    align-items: center;
    gap: 7rem;
  }
  .about_data,
  .section_subtitle,
  .section_title {
    text-align: initial;
  }
  .about_data {
    order: 1; /* 기본 둘 다 order 0인 상태 */
  }
  .about img {
    width: 450px;
}
}
